.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 24px;
}

.cta-btn {
  background: #717887;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
}

.cta-btn:hover {
  background:   #150707;
}
